/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importações para o Slick Carousel */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Estilos globais adicionais */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

/* Estilos para Slick Carousel */
.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

/* Estilos para Dots Customizados */
.custom-dot {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-dot.slick-active {
  background-color: #0070f3;
}

/* Classe para Botão */
.btn {
  @apply bg-blue-600 text-white font-bold py-2 px-6 rounded-full hover:bg-blue-700 transition duration-300 ease-in-out;
}

.btnWhite {
  @apply bg-white text-black font-bold py-1 px-4 md:px-4 lg:px-4 rounded-full w-auto max-w-xs md:max-w-md lg:max-w-lg hover:bg-blue-700 hover:text-white transition duration-300 ease-in-out opacity-50 left-1/2 transform -translate-x-1/2 mb-2;
}
