/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Estilos globais adicionais */
body {
  font-family: "Helvetica Neue", Arial, sans-serif; /* Substitua pela fonte que preferir */
  overflow-x: hidden; /* Impede que o conteúdo ultrapasse a largura da tela */
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem; /* Adicione padding para garantir que o conteúdo não encoste nas bordas */
  overflow: hidden; /* Garante que o conteúdo não ultrapasse a largura máxima */
  display: flex; /* Mantém o comportamento flex para o layout interno */
  justify-content: space-between; /* Garante que o conteúdo seja espaçado corretamente */
}

/* Outros ajustes globais */

/* Estilos para Slick Carousel */
.slick-prev,
.slick-next {
  z-index: 1; /* Garante que as setas estejam acima de outros elementos */
}

.slick-prev {
  left: 25px; /* Ajuste conforme necessário */
}

.slick-next {
  right: 25px; /* Ajuste conforme necessário */
}

/* Estilos para Dots Customizados */
.custom-dot {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-dot.slick-active {
  background-color: #0070f3; /* Ajuste para a cor desejada */
}

.btn {
  @apply bg-blue-600 text-white font-bold py-2 px-6 rounded-full hover:bg-blue-700 transition duration-300 ease-in-out;
}